body {
    background: #182527;
    font-family: 'Nunito', sans-serif;
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-size: 56px;
    color: #FFFFFF;
    font-weight: bold;
}
h2 {
    font-size: 19px;
    color: #FFFFFF;
}
h2 a {
    text-decoration: none;
    color: #FFFFFF;
}
h3 {
    font-size: 20px;
    color: #FFFFFF;
}
strong {
    color: #20CD8D;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}
.sobre-mim:hover, .sobre-harmoneasy:hover, .rodape:hover {
    text-decoration: underline;
}
/*Apresentação*/
.container {
    display: flex;
    justify-content: space-between;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.btn-inicio {
    background-color: #20CD8D;
    border-style: none;
    border-radius: 30px;
    width: 90%;
    align-self: center;
    font-size: 30px;
    margin: 5% 0;
    text-decoration: none;
    color: #182527;
    transition: 90ms all;
    cursor: pointer;
}
.btn-inicio:hover, .btn-gera-escala:hover{
    background-color: #129464;
    transform: scale(1.2,1.2);
}
.imagem-apresentacao {
    width: 60%;
}
footer {
    text-align: center;
}
.rodape, .ano-rodape {
    text-decoration: none;
    color: #FFFFFF;
}
/*gera-harmonia*/
.escala-gerada {
    padding-top: 10%;
    margin-bottom: 9%;
}
.nome-site {
    text-align: center;
}
.menu-op {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
legend {
    color:#FFFFFF;
    text-align: center;
    padding: 1em 0;
}
.selecao {
    background-color: #20CD8D;
    border-style: none;
    border-radius: 30px;
    align-self: center;
    width: 9em;
    font-size: 30px;
    color: #182527;
    text-align: center;
}
.btn-gera-escala {
    background-color: #20CD8D;
    border-style: none;
    border-radius: 30px;
    width: 9em;
    align-self: center;
    font-size: 30px;
    color: #182527;
    text-align: center;
    align-self: end;
    cursor: pointer;
}
.nome-intervalos {
    display: flex;
    justify-content: space-between;
}
.intervalo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.tipo-intervalo {
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
}
.notas-intervalos{
    background-color: #20CD8D;
    width: 100px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 1.9;
}

/*Sobre Harmoneasy*/
.sobre-harmo {
    margin: 10% 20%;
}
.sobre {
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
}
/*sobre mim*/
.sobre-lucas {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}
.foto-perfil{
    width: 30%;
    border-radius: 50%;
}
.contatos {
    align-self: center;
    width: 50%;
}
.lista {
    font-size: 20px;
    color: #FFFFFF;
    list-style-type: disc;
    padding-left: 1em;
}
.lista-contatos {
    font-size: 24px;
    color: #FFFFFF;
}
.lista-contatos li {
    padding: 1% 0;
}
.lista-contatos a {
    color:#FFFFFF
}
.icone {
    width: 30px;
    height: 30px;
}