body {
    background: #182527;
    font-family: 'Nunito', sans-serif;
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-size: 56px;
    color: #FFFFFF;
    font-weight: bold;
}
h2 {
    font-size: 19px;
    color: #FFFFFF;
}
h2 a {
    text-decoration: none;
    color: #FFFFFF;
}
h3 {
    font-size: 20px;
    color: #FFFFFF;
}
strong {
    color: #20CD8D;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}
.sobre-mim:hover, .sobre-harmoneasy:hover, .rodape:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: space-between;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.btn-inicio {
    background-color: #20CD8D;
    border-style: none;
    border-radius: 30px;
    width: 90%;
    align-self: center;
    font-size: 30px;
    margin: 5% 0;
    text-decoration: none;
    color: #182527;
    transition: 90ms all;
    cursor: pointer;
}
.btn-inicio:hover{
    background-color: #129464;
    transform: scale(1.2,1.2);
}
.imagem-apresentacao {
    width: 60%;
}
footer {
    text-align: center;
}
.rodape, .ano-rodape {
    text-decoration: none;
    color: #FFFFFF;
}